{% extends 'base.html' %}
{% block title %} Histograma Matéria {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script>
        var data = '/json-materia-histo'
        $.getJSON(
            data,
            function (data) {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Nº de Votações X Nº de Matérias'
                    },
                    subtitle: {
                        text: 'Fonte: Dados abertos do Senado Federal'
                    },
                    xAxis: {
                        xAxis : data,
                        title: {
                            text: 'Número de Votações'
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                        text: 'Número de Matérias'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key} Votação(ões)</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                        pointPadding: 0,
                        borderWidth: 0,
                        groupPadding: 0,
                        shadow: false
                        }
                    },
                    series: [{
                        name: 'Matérias',
                        data: data

                    }]
                });
            }
        )
    </script>
{% endblock %}

{% block content %}
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}