{% extends 'base.html' %}

{% block title %} Ranking Parlamentar {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#Fancy').DataTable();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="Container mt-3">
        <table id="Fancy", class="Display", style="width: 85%">
            <thead>
                <tt class="row">Ranking dos Parlamentares</tt>
                <tr>
                    <th>Nome</th>
                    <th>(%) Assertividade</th>
                    <th>(%) Índice de Concordância </th>
                    <th>Total de votos</th>
                    <th>Votos Válidos</th>
                    <th>Nº Matérias Propóstas</th>
                    <th>Nº Matérias Votadas</th>
                    <th>Índice de Trocas</th>
                    <th>Nº Mandatos</th>
                    <th>Total de Faltas</th>
                    <th>Total de Faltas Justificadas</th>

                </tr>
            </thead>
            <tbody>
                {% for elemento in ast %}
                <tr>
                    <td>{{ elemento[0] }}</td>
                    <td>{{ elemento[1] }}</td>
                    <td>{{ elemento[2] }}</td>
                    <td>{{ elemento[3] }}</td>
                    <td>{{ elemento[4] }}</td>
                    <td>{{ elemento[5] }}</td>
                    <td>{{ elemento[6] }}</td>
                    <td>{{ elemento[7] }}</td>
                    <td>{{ elemento[8] }}</td>
                    <td>{{ elemento[9] }}</td>
                    <td>{{ elemento[10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

